@font-face {
    font-family: "Street Corner";
    src: url("fonts/Street\ Corner.ttf");
}

@font-face {
    font-family: "Street Corner Bold";
    src: url("fonts/Street\ Corner\ Bold.ttf");
}

@font-face {
    font-family: "Street Corner Extend";
    src: url("fonts/Street\ Corner\ Extend.ttf");
}

@font-face {
    font-family: "Street Corner Narrow";
    src: url("fonts/Street\ Corner\ Narrow.ttf");
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: min-content;
    padding: 10px;
    border: double, black, 5px;
    border-radius: 25px;
}

#titleHeading {
    font-family: "Street Corner";
    font-size: 80px;
    color: #F2CB00;
    text-align: center;
    margin: 0px;
}

#preamble {
    font-size: large;
    color: black;
}

#resultBox {
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    
}

#bodyDiv {
    width: min-content;
    border: black, solid, 2px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spaceSelectors {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 30px;
}

.spaceDropdown {
    width: min-content;
    border: black, solid, 2px;
    border-radius: 10px;
    padding: 2px;
    color: black;
    border-color: black;
}

.box {
    width: 50%;         /* normal width */
    min-width: 200px;   /* won’t shrink below 200px */
    height: 100px;
    min-height: 80px;   /* won’t shrink below 80px */
    background-color: lightblue;
}

div.spaceSelectors {
    padding: 0px;
    
}

#dwInput {
    padding: 2px;
    margin: 10px;
    text-align: center;
    border: 2px, solid, black;
    border-radius: 20px;
    font-size: x-large;
    width: max-content;
}